<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>arkarattoklel: The Arka-English Dictionary</title>
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<% tfetch(QString, username); %>
<body>
  <a href="/"><img src="/images/ARKlogo.png" width="400" height="100" alt="arkarattoklel" /></a>
  <% if (username.isEmpty()) { %>
  <p><%== linkTo("Login", QUrl("/Account/form")) %> or <%== linkTo("register", QUrl("/Account/regform")) %></p>
  <% } else { %>
  <p>Logged in as <%= username %>. <%== linkTo("Logout", QUrl("Account/logout")) %></p>
  <% } %>
  <form id="search">
    <div>
      <label for="word">Arka to English: </label>
      <input type="text" id="word" name="word" class="hacm">
      <button name="search" type="submit" formaction="/Entry/search" formmethod="get">Search</button>
    </div>
  </form>
  <form id="rsearch">
    <div>
      <label for="word">English to Arka: </label>
      <input type="text" id="eword" name="eword">
      <button name="search_reverse" type="submit" formaction="/Entry/rsearch" formmethod="get">Search</button>
    </div>
  </form>
</body>
<%== yield() %>
</html>