<!DOCTYPE html>
<%#include "entry.h" %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h2>All Entries</h2>

<div style="color: red;"><%==$message %></div>

<%== linkTo("Add a new word", urla("create")) %><br /><br />

<% tfetch(QList<Entry>, entryList); %>
<% for (const auto &i : entryList) { %>
  <div>
    <hacm><%== linkTo(i.name(), urla("show", i.id())) %>
      <span class="idtag"><%= i.id() %></span>
      (<%== linkTo("ivl", urla("save", i.id())) %> |
      <%== linkTo("yuki", urla("remove", i.id()), Tf::Post, "confirm('Are you sure?')") %>)
    </hacm>
  </div>
<% } %>

</body>
</html>
