<!DOCTYPE html>
<%#include "entry.h" %>
<%#include "melpalthelper.h" %>
<% tfetch(Entry, entry); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h2><hacm><%= entry.name() %> <span class="idtag"><%= entry.id() %></font></hacm></h2>

<div class="definition">
  <%== MarkupHelper::markupToHTML(entry.body()) %>
</div>

<p class="hacm">at lad im <%= MelpaltHelper::ltm(entry.createdAt()) %></p>
<p class="hacm">at sam im <%= MelpaltHelper::ltm(entry.updatedAt()) %></p>
<p class="hacm">at sam ras <%= entry.lockRevision() %></p>

<%== linkTo("Edit", urla("save", entry.id())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
